# Maven
target/
log/

# Compiled class file
*.class

# Log file
*.log

# Package Files
*.jar
*.war
*.ear

# IntelliJ
.idea/
*.iml
*.iws

# Eclipse
.classpath
.project
.settings/

# Mac
.DS_Store

# JVM crash logs
hs_err_pid*
replay_pid*

.vscode/*

# Variables de entorno locales
.env
